<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>
    <div id="lesson-container">
        <header>
            <h1 id="lesson-title">{{ .Title }}</h1>
            <date id="lesson-date">{{ .LessonDate }}</date>
        </header>
        <section id="lesson-overview">
            <h2>Lesson Overview</h2>
            <p id="lesson-description">{{ .Description }}</p>
        </section>
        <section id="exercises">
            <h2>Exercises</h2>
                <div class="exercises-container">
                    {{ range $index, $exercise := .Exercises }}
                    <div class="exercise">
                        <span class="exercise-number">{{ $exercise.ExerciseNumber }}.</span>
                        <span class="exercise-content">$$ {{ $exercise.ExerciseContent }} $$</span>
                        <div class="response-area">
                            <input type="text" id="UserAns{{ $index }}" class="answer-input" placeholder="Your answer">
                            <button class="verify-button" onclick="verifyAnswer(document.getElementById('UserAns{{ $index }}'), '{{ $exercise.Answer }}', event,$exercise.ID)">Verify</button>
                        </div>
                    </div>
                    {{ end }}
                </div>



        </section>
    </div>
    <script src="/static/singleLesson.js"></script>
</body>
</html>